@font-face {
    font-family: OpenSans;
    src: url(assets/OpenSans-Light.ttf);
    font-weight: 800;
  }
  
  @font-face {
    font-family: MontserratAlternates;
    src: url(assets/MontserratAlternates-Bold.ttf);
  }
  
  body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: 'OpenSans';
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'MontserratAlternates';
  }
  
  .profile {
    width: 200;
    height: 200px;
    border-radius: 100px;
  }
  